/* Put all of the css styles for you bar chart here. I've already added in a few tiny tweaks to the optional legend  */

/* General Styles */
body, h1, h2, h3, h4 {
	font-family: "Open Sans";
}

.center {
	width: 100%;
	text-align: center;
}

span.code {
	font-family: courier;
	color: #4e4e4e;
	font-weight: 100;
}

a {
	color: black;
	text-decoration: none;
	transition: 300ms ease-in-out;
}

a:hover {
	text-decoration: underline;
	color: #8b8b8b;	
}

.gray {
	color: #8b8b8b;		
}

.gray:hover {
	color: black;	
}

/* END of General Styles */

/* Target Continers */

#myFirstBarChart-container, #rectangle-target {
	background-color: #f9f9f9;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	padding-bottom: 30px;
}
#rectangle-target {
	min-width: 150px;
	margin-left: 50px;
	margin-right: 50px;
}	

#myFirstBarChart-container {
	min-width: 400px;
	min-height: 450px;
}

/* END of Target Containers */



/* Bar Charts */

.bar-wrapper .chart-legend {
	display: inline-block;	
	vertical-align: top;
}

.bar-wrapper .chart-legend .legend-label {
	text-align: right;	
	padding-right: 10px !important;
}

/* End of Bar Charts */